<div id="background"></div>

<div id="container">
  <h1 id="title">
    Environment Simulator
  </h1>

  <h3 id="intro">
    Env Sim: Environment simulator for my M1 Info. It simulates the environment. To use with CCBL server.
  </h3>

  <div id="content">
    <h2 class="title">
      Environment description
    </h2>

    <div class="items">
      <div class="item">
        <div class="item-wrapper">
          <h2>List of objects<span style="display: block; font-size: 60%">Objects can <i>send or receive</i> data to or from the server</span></h2>
          <ul>
            <li *ngFor="let o of worldsimService.world.objects">
              <b>{{ o.name }}</b> at <span class="list-location">({{ o.position.x }}, {{ o.position.y }})</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="item">
        <div class="item-wrapper">
          <h2>List of locations</h2>
          <ul>
            <li *ngFor="let l of worldsimService.world.locations">
              <app-show-location [location]="l"></app-show-location>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="title">
      Location Map (Beta)
    </h2>

    <div class="items">
      <div class="item">
        <div class="item-wrapper" id="map">
          <app-show-map
            [onConfigure]="onConfigureBinded"
            [world]="worldsimService.world"
            [magnificationX]="magnificationX"
            [magnificationY]="magnificationY">
          </app-show-map>

          <app-configure
            [obj]="configure">
          </app-configure>
        </div>
      </div>
    </div>
  </div>
</div>
